@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/fonts/HelveticaNeueBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueItalic";
  src: url("/fonts/HelveticaNeueItalic.ttf");
  font-weight: normal;
  font-style: italic;
}
